<html>
<head>
  <title>Todo List </title>
  <script
    src="https://code.jquery.comhttps://code.jquery.com/jquery-1.12.4.js"
    integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
    crossorigin="anonymous"></script>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>
    <body>
      <h1>My Todo List </h1>
      <div id="todo-table">
        <form>
            <input type="text" name="item" placeholder="Addnew item..." required />
            <button type="submit"> Add Item </button>
        </form>
        <ul>
          <li> Item 1 </li>
          <li> Item 2 </li>
          <li> Item 3 </li>
        </ul>
      </div>
      </body>
</html>
